.mapa{
    background-image: url('https://media.istockphoto.com/vectors/colombia-map-vector-id1147558765?s=612x612');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 855px;
    height: 500px;
}